@import url("https://fonts.googleapis.com/css?family=Karla");

/* Dark Theme Variables */

[data-theme="dark"] {
    --default-bg: rgb(29, 30, 32);
    --default-scrollbar-bg: rgb(128, 128, 128);
    --default-text: rgb(255, 255, 255);
    --default-invert: 1;
}

/* Light Theme Variables */

[data-theme="light"] {
    --default-bg: rgb(226, 225, 223);
    --default-scrollbar-bg: rgb(127, 127, 127);
    --default-text: rgb(0, 0, 0);
    --default-invert: 0;
}

/* All */

* {
    transition: all .5s;
}

/* Body */

body {
    background: var(--default-bg);
    overflow: overlay;
    font-family: Karla;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--default-scrollbar-bg);
    border-radius: 20px;
}
body::-webkit-scrollbar:horizontal {
    display: none;
}

/* H1 */

h1 {
    color: var(--default-text);
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Image */

img {
    max-width: 100%;
    max-height: 100%;
}

/* Footer */

footer {
    text-align: center;
    width: 100%;
}

/* Logo */

.logo {
    color: var(--default-text);
    font-weight: bold;
    text-decoration: none;
}
.logo:link, .logo:visited, .logo:hover, .logo:active {
    text-decoration: none;
}

/* Theme buttons */

.theme-button {
    position: absolute;
    background: transparent;
    border: none;
}

.sun-icon, .moon-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    filter: invert(var(--default-invert));
}

/* Home */

.home-entry {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    text-align: center;
}

/* Entry Screenshot */

.entry-screenshot {
    border-radius: 5px;
}

/* Footer Icons */

.footer-icons {
    display: flex;
    margin: 2%;
    justify-content: center;
    text-align: center;
}

.github-icon, .telegram-icon {
    filter: invert(var(--default-invert));
    margin: 5px;
}

/* Responsive Content [For Desktop] */

@media screen and (orientation: landscape) {
    h1 {
        font-size: 4vw;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    .theme-button {
        padding: 2vw;
        right: 1vw;
        top: 1vw;
    }

    .sun-icon, .moon-icon {
        width: 1.75vw;
        height: 1.75vw;
    }

    .logo {
        font-size: 3vw;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .entry-screenshot {
        width: 75%;
        height: auto;
    }

    .github-icon, .telegram-icon {
        width: 1.75vw;
        height: 1.75vw;
    }
}

/* Responsive Content [For Mobile] */

@media screen and (orientation: portrait) {
    h1 {
        font-size: 7vw;
    }

    footer {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }

    .theme-button {
        padding: 4vw;
        right: 2vw;
        top: 2vw;
    }

    .sun-icon, .moon-icon {
        width: 4.5vw;
        height: 4.5vw;
    }

    .logo {
        font-size: 8vw;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .entry-screenshot {
        width: 95%;
        height: auto;
    }

    .github-icon, .telegram-icon {
        width: 4.5vw;
        height: 4.5vw;
    }
}
