@import url("https://fonts.googleapis.com/css?family=Karla");

/* Dark Theme Variables */

[data-theme="dark"] {
    --default-bg: rgb(0, 0, 0);
    --default-scrollbar-bg: rgb(128, 128, 128);
    --default-text: rgb(255, 255, 255);
    --default-panel-bg: rgba(255, 255, 255, 0.07);
    --default-button: rgba(255, 255, 255, 0.05);
    --default-button-hover: rgba(255, 255, 255, 0.1);
    --default-invert: 1;
    --default-gradient: linear-gradient(
            to left,
            #ff5770,
            #e4428d,
            #c42da8,
            #9e16c3,
            #6501de,
            #9e16c3,
            #c42da8,
            #e4428d,
            #ff5770
    );
}

/* Light Theme Variables */

[data-theme="light"] {
    --default-bg: rgb(255, 255, 255);
    --default-scrollbar-bg: rgb(127, 127, 127);
    --default-text: rgb(0, 0, 0);
    --default-panel-bg: rgba(0, 0, 0, 0.07);
    --default-button: rgba(0, 0, 0, 0.05);
    --default-button-hover: rgba(0, 0, 0, 0.1);
    --default-invert: 0;
    --default-gradient: linear-gradient(
            to left,
            #ec5269,
            #ce3d80,
            #ab2793,
            #8a14ab,
            #5100b4,
            #7d129b,
            #a92891,
            #bb3674,
            #ec5269
    );
}

/* All */

* {
    transition: all .5s;
}

/* Body */

body {
    background: var(--default-bg);
    overflow: overlay;
    font-family: Karla;
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-track {
    background: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--default-scrollbar-bg);
    border-radius: 20px;
}
body::-webkit-scrollbar:horizontal {
    display: none;
}

/* H1, H2 */

h1, h2 {
    color: var(--default-text);
    font-weight: bold;
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Image */

img {
    max-width: 100%;
    max-height: 100%;
}

/* Button */

button {
    border: none;
}

/* Footer */

footer {
    text-align: center;
    width: 100%;
}

/* Logo */

.logo {
    color: var(--default-text);
    font-weight: bold;
    text-decoration: none;
}
.logo:link, .logo:visited, .logo:hover, .logo:active {
    text-decoration: none;
}

/* Theme buttons */

.theme-button {
    position: absolute;
    background: transparent;
    border: none;
}

.sun-icon, .moon-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    filter: invert(var(--default-invert));
}

/* Home */

.home-entry {
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
    justify-content: center;
    text-align: center;
}

/* Entry Screenshot */

.screenshot-container {
    background: transparent;
    padding: 16px 24px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .01);

    &::after {
        position: absolute;
        content: "";
        top: 15px;
        left: 0;
        right: 0;
        z-index: -1;
        height: 100%;
        width: 100%;
        transform: scale(0.9) translateZ(0);
        filter: blur(200px);
        background: var(--default-gradient);
        background-size: 200% 200%;
    }
}

.entry-screenshot {
    border-radius: 7px;
}

/* Download Panel */

.download-info {
    color: var(--default-text);
    background-color: var(--default-panel-bg);
    margin: 40px auto;
    padding: 16px;
    text-align: center;
    backdrop-filter: blur(15px);
}

/* Download button */

.download-button {
    color: var(--default-text);
    background: var(--default-button);
    margin: 15px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}
.download-button:hover {
    background: var(--default-button-hover);
}

/* Footer Icons */

.footer-icons {
    display: flex;
    margin: 2%;
    justify-content: center;
    text-align: center;
}

.github-icon, .telegram-icon {
    filter: invert(var(--default-invert));
    margin: 5px;
}

/* Responsive Content [For Desktop] */

@media screen and (orientation: landscape) {
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 2vw;
    }

    button {
        font-size: 1.25vw;
    }

    footer {
        position: relative;
        bottom: 0;
    }

    .theme-button {
        padding: 2vw;
        right: 1vw;
        top: 1vw;
    }

    .sun-icon, .moon-icon {
        width: 1.75vw;
        height: 1.75vw;
    }

    .logo {
        font-size: 3vw;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .entry-screenshot {
        width: 75%;
        height: auto;
    }

    .download-info {
        border-radius: 10px;
        width: 50%;
    }

    .github-icon, .telegram-icon {
        width: 1.75vw;
        height: 1.75vw;
    }
}

/* Responsive Content [For Mobile] */

@media screen and (orientation: portrait) {
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 5vw;
    }

    button {
        font-size: 3vw;
    }

    footer {
        position: absolute;
        right: 0px;
        left: 0px;
        bottom: 0px;
    }

    .theme-button {
        padding: 4vw;
        right: 2vw;
        top: 2vw;
    }

    .sun-icon, .moon-icon {
        width: 4.5vw;
        height: 4.5vw;
    }

    .logo {
        font-size: 8vw;
        margin-left: 20px;
        margin-bottom: 20px;
    }

    .entry-screenshot {
        width: 100%;
        height: auto;
    }

    .download-info {
        border-radius: 20px;
        width: 75%;
    }

    .github-icon, .telegram-icon {
        width: 4.5vw;
        height: 4.5vw;
    }
}
